apache-airflow==2.7.1
pandas==2.1.0
# geopandas==0.13.2  # Comentado para evitar problemas con GDAL
sqlalchemy>=1.4.24,<2.0  # Restringido para compatibility con Airflow
psycopg2-binary==2.9.7
beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
numpy==1.25.2
openpyxl==3.1.2
python-dotenv==1.0.0
httpx==0.24.1
pyyaml==6.0.1
apache-airflow-providers-postgres==5.6.0
apache-airflow-providers-http==4.5.1
# shapely==2.0.1  # Comentado porque es parte de geopandas
